.custom-container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}

.text-nowrap {
  text-wrap: nowrap;
}

.p-multiselect-label.p-placeholder{
  padding: 10px !important;
}
.p-inputtext{
  padding: 14px !important;
}