.articles-container {
  .articles-list {
    .article-card-container {
      margin: 1rem 0;

      .card {
        .p-card-body {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}